body{
  display: flex;
  flex-direction: column;
}
ul {
  list-style: none;
}

#input {
  width: 300px;
}

#submit {
  width: 100px;
}

.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  text-align: center;
  justify-content: center;
}

img {
  width: 300px;
  height: 200px;
  margin: 30px;
}
